
<div class="text">
    将要访问
</div>
<div class="desc">
    <%= @link.original %>
</div>
<div class="desc">
    此页面未在我的网站完成域名备案，可能存在内容风险。<br />
    如要继续访问，请注意你的隐私及财产安全。
</div>
<div class="open-url">
    <a href={@link.original} class="m-btn m-btn-block m-btn-orange " ontouchstart="">继续访问</a>
</div>
<div class="link">
    <div class="m-box-center-a m-box-center">
        <a href="/Jbt7Nydr3">域名白名单公告</a> <span class="link-line">|</span><a href="/urls/new">申请域名备案</a>
    </div>
</div>
